* {
  padding-block-end: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
}

.header {
  height: 100vh;
  background-color: #2d275a;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.countBox h2 {
    font-size: 30px;
}

.countBox button {
    width: 50px;
    height: 25px;
}